@tailwind base;
@tailwind components;
@tailwind utilities;

.font-styrene-display{
    font-family: var(--font-styrene-a),ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.shadow-element {
    --tw-shadow: 0 0 0 0.5px rgba(0,0,0,.1),0 0 20px rgba(0,0,0,.05),0 1px 5px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 0 0 0.5px var(--tw-shadow-color),0 0 20px var(--tw-shadow-color),0 1px 5px var(--tw-shadow-color);
}

.shadow, .shadow-element {
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.aspect-square {
    aspect-ratio: 1 / 1;
}